@model string[]
@{
    ViewData["Title"] = "List Page";

}


<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            <h1 class="mb-0">
                CONNECT CARE
                <span class="text-primary">TRAINING</span>
            </h1>
            <p class="lead mb-3">Training materials and reports related to Connect Care initiatives</p>

        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="experience">
        <div class="w-100">

            <h2 class="mb-3">Please Select a State</h2> <!--2nd level-->

            @foreach (var cat in Model)
            {
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">

                    <div class="resume-content">

                        <h3 class="mb-0"><a href="@cat">@cat</a><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></h3>
                        <div class="subheading mb-3">Training site for @cat</div>

                    </div>

                </div>
            }

    </section>


</div>

